html {
    background-color: #3d3d3d;
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #111111;
    background-color: #e3e3e3;

    margin: 40px;
    margin-right: 440px;
    padding: 40px;
    padding-right: 80px;

}

nav {
    border-bottom: 2px solid #3d3d3d;

    margin-bottom: 40px;
}

h1 {
    display:inline-block;
    -webkit-transform:scale(1,1.5); 
    -moz-transform:scale(1,1.5); 
    -ms-transform:scale(1,1.5); 
    -o-transform:scale(1,1.5); 
    transform:scale(1,1.5); 
}

p {
    line-height: 1.25em;
}

label {
    display: block;
    margin-bottom: 1em;
}

a[href]:hover {
    box-shadow: 0 0 2px 1px #148ebe9d;
}

.blog-post {
    border-bottom: 1px dotted #3d3d3d;

    padding-bottom: 10px;
    margin-bottom: 40px;
}

.blog-content {
    margin-left: 40px;
}

.album-cover {
    height: 200px;
    width: 200px;

    border: 5px outset #3d3d3d;
    margin: 10px;
    margin-top: 20px;
    margin-left: 40px;
    float: left;
}

#page-top {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: #e3e3e3;
}

#site-desc {
    font-size: larger;
    font-style: italic;

    margin-top: 0px;
    margin-left: 5px;
}

#bio-photo {  
    border: 10px outset #3d3d3d;
    border-radius: 50%;

    padding: 20px;

}

#copyright-text {
    font-size: small;
    padding-top: 20px;
}

/* Media Queries */
@media (max-width: 400px) {
    body {
        margin-right: 40px;
    }

    .album-cover {
        height: 100px;
        width: 100px;
    }
}

@media (max-height: 400px) {
    #page-top {
        position: static;
    }
}